[submodule "apps/authoring-ui-vscode"]
	path = apps/authoring-ui-vscode
	url = https://github.com/ysgao/authoring-ui.git
[submodule "apps/OntoGraph-lite"]
	path = apps/OntoGraph-lite
	url = https://github.com/ysgao/OntoGraph-lite-vscode
